@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ecf0f1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chatbox */

.chat-box {
    width: 400px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

/* Cliente */

.bot {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #58af9b;
    padding: 15px;
}

.bot-img {
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
}

.bot-info {
    color: #fff;
    padding: 15px;
}

.bot-info p {
    color: #008000;
    font-weight: bold;
    font-size: 0.8em;
}

/* Sessao do Chat */

.chats {
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.9em;
}

.bot-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #58af9b;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.person-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #77b3d4c7;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}

/* Sessao de Input */

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.chat-input input {
    width: calc(100% - 40px);
    height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1.0em;
    padding: 0 15px;
}

.send-btn {
    width: 80px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-size: 20px;
    color: #7f8c8d;
}

.send-btn:active {
    transform: scale(0.85);
}

.send-btn img{
    width: 100%;
    height: 100%;
}