@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(_reset.css);


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(to bottom, #58af9b, #FFFFFF);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 35px 10px 35px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav button {
    all: unset; /* Remove os estilos padrões */
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    cursor: pointer;
}

nav button:hover {
    background-color: #f0f0f0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1100;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.sidebar button {
    width: 100%;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

.container {
    padding: 0 2rem;
}

@media screen and (min-width: 1400px) {
    .container {
        padding: 0 calc((100vw - 1200px) / 2);
    }
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #FFF;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}
   

/* Chatbox */


.chat {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 10rem - 5rem);

    scrollbar-width: none;
    overflow-y: scroll;
}

.chat::-webkit-scrollbar {
    display: none;
}

.chat__bolha {
    width: 60%;
    /* width: fit-content; */
    padding: 1.5rem;
    border-radius: 10px 10px 0 10px;
    font-size: 1.375rem;
    margin: 1.5rem 0;
    position: relative;
    background-color: #77b3d4;
}

@media screen and (min-width: 1400px) {
    .chat__bolha {
        max-width: 60%;
    }
}

.chat__bolha--bot {
    background-color: #58af9b;
    border-radius: 10px 10px 10px 0;

}

.chat__bolha--bot::after {
    content: "";
    display: block;

    height: 2.5rem;
    width: 2.5rem;

    position: absolute;
    top: 0;
    right: calc(-2.5rem - 1rem);

    background-repeat: no-repeat;
    background-position: center;
}


.chat__bolha--usuario {
    border: 1px solid #77b3d4c7;;
    align-self: flex-end;
}

.chat__bolha--usuario::before {
    content: "";
    display: block;

    height: 2.5rem;
    width: 2.5rem;

    position: absolute;
    top: 0;
    left: calc(-2.5rem - 1rem);

    background-repeat: no-repeat;
    background-position: center;
}


.entrada {
    height: 10rem;
    position: relative;
    display: flex;
    gap: 1.5rem;
    justify-content: stretch;
    align-items: center;
    border-top: 1px solid #fff;
}

.entrada__container {
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
    width: 100%;
    
    padding: 0 0.5rem;
    align-items: center;

    background-color: transparent;
    border-radius: 4rem;
}

.entrada__input {
    height: 3rem;
    width: 100%;
    
    border-radius: 21px;
    border: 2px solid #58af9b;
    background-color: transparent;
    font-size: 1.375rem;
    color: #000;
    padding-left: 20px;
    overflow: hidden;
}

.entrada__input::placeholder {
    color: #676767;
}


/* Icons */


.bot-img {
    border-radius: 50%;
    font-size: 25px;
    color: #58af9b;
}

.send-img{
    font-size: 25px;
    background-color: transparent;

    width: 100%;
    height: 100%;

    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color: #7f8c8d;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 15px;
    font-size: 60px;
}

.icon-sidebar {
    color: #7f8c8d;
    padding: 0 15px;
    font-size: 30px;
}
