@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ecf0f1;
}

header {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 35px 10px 35px;
}

nav {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

.container-inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
    gap: 32px;
}

.content-novaconversa {
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.content-chats {
    background-color: #58af9b;
    border-radius: 10px;
    width: 400px;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.title-principal {
    color: #58af9b;
    margin: 0 auto; 
    text-align: center; 
    flex-grow: 1; 
}

.title-chats {
    color: #fff;
}

.title-novaconversa {
    text-align: center;
    color: #58af9b;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 60%;
    border: 10px;
    padding: 20px;
    margin: 10px;
    text-decoration: solid;
    text-shadow: 4%;
    text-align: justify;
}

.description-chats{
    color: #fff;
}

.description-novaconversa{
    color: #58af9b;;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color 1s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #58af9b;
}

.btn-second {
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color 1s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 15px;
    font-size: 60px;
}

.icon-sidebar {
    color: #7f8c8d;
    padding: 0 15px;
    font-size: 30px;
}